* {
  padding: 0;
  margin: 0;
}
.ImagesDiv {
  display: flex;
  /* justify-content: space-around; */
  column-gap: 13px;
  padding: 10px;
}
.ThreeImg {
  background-color: white;
  border-radius: 2px 2px 0 0;
  /* box-sizing: border-box; */
  /* box-shadow: -1px -1px 11px 0px #c2c2c2;/ */
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 40%);
}
.MainBody {
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
  margin-left: 52px;
  position: sticky;
}
.MainContainer {
  background-color: #dfe5e5;
  font-size: 12px;
  height: 100vh;
  width: 100%;
}
/* .imagesBody{

} */
.imagesBody img {
  width: 237px;
  height: 114px;
}
.ImgHeading p {
  color: white;
  background-color: black;
  font-size: 12px;
  font-weight: 700;
  padding: 6px;
}

.ImgPara p {
  /* padding: 6px; */
  font-size: 14px;
  color: #1e1e1e;
  font-weight: 700;
  margin-left: 6px;
}
.imgText {
  height: 150px;
}
.imgText span {
  text-align: left;
}
.NavLinkss {
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 700;
  line-height: 0;
  padding: 8px;
  font-size: 12px;
  text-decoration: none;
  padding-left: 8px;
  color: #167ac6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.NavLinkss p {
  color: #167ac6;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}

/* ---------------------   Next Races ----------------------------- */

.NEXTCONTENT {
  color: white;
  display: flex;
  background-color: black;
  justify-content: space-between;
  font-weight: 700;
  padding: 8px;
  border-radius: 3px;
}
.NEXTCONTENT P {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  /* line-height: 1.1; */
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}

.TWOBUTTONS {
  display: flex;
  gap: 10px;
}

/* .TWOBUTTONS button{
    border-radius: 2px;
    box-sizing: border-box;
    /* padding: 5px; 
    border: transparent; 
} */
.TWOBUTTONS button {
  color: #1e1e1e;
  border: 0;
  background-color: #bfbfbf;
  display: inline-block;
  height: 28px;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

.RacePart2{
   display:flex;
   flex-direction: row;
   background-color: thistle;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.RacesCon{
    display: flex;
    align-content: center;
    align-items: center;
}
.flagdata{
    display: flex;
    align-content: center;
    align-items: center;
}
.just{
    display: flex;
}


.part1 ,.part2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellowgreen;
    width: 49%;
    column-gap: 1%;
    cursor: pointer;
}

.left,.right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left > p , .right > p {
    line-height: 1ch;
}
