.FooterContainer{
    font-family: Arial,Tahoma,Verdana,Helvetica,sans-serif;
}
.FooterContainer p{
    color: #555656;
    
}
.FooterData{
    background-color: red;
    text-align: center !important;
    
}
.FooterData ul{
    display: flex;
    list-style: none;
}
.FooterData li {
    display: flex;
    /* text-align: center; */
}